<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<script type="text/javascript" src="/js/dragdrop.js"></script>
	<!--
		CSS, source: http://www.dhtmlgoodies.com/index.html?whichScript=drag-drop-nodes-quiz
	-->
	<style type="text/css">
	body{
		font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;	/* Font to use */
		background-color:#E2EBED;
	}
	#footer{
		height:30px;
		vertical-align:middle;
		text-align:right;
		clear:both;
		padding-right:3px;
		background-color:#317082;
		margin-top:2px;
		width:790px;
	}
	#footer form{
		margin:0px;
		margin-top:2px;
	}
	#dhtmlgoodies_dragDropContainer{	/* Main container for this script */
		width:790px;
		height:720px;
		border:1px solid #317082;
		background-color:#FFF;
		-moz-user-select:none;
	}
	#dhtmlgoodies_dragDropContainer ul{	/* General rules for all <ul> */
		margin-top:0px;
		margin-left:0px;
		margin-bottom:0px;
		padding:2px;
	}
	
	#dhtmlgoodies_dragDropContainer li,#dragContent li,li#indicateDestination{	/* Movable items, i.e. <LI> */
		list-style-type:none;
		height:15px;
		background-color:#FFFF99;
		border:1px solid #000;
		padding:2px;
		margin-bottom:2px;
		cursor:pointer;
		font-size:13px;
		line-height:15px;
	}
	
	li#indicateDestination{	/* Box indicating where content will be dropped - i.e. the one you use if you don't use arrow */
		border:1px dotted #600;	
		background-color:#FFF;
	}

/*	
	#dhtmlgoodies_dragDropContainer ul li.correctAnswer{	// Correctly moved item 
		background-color:green;
		color:#FFF;
	}
	#dhtmlgoodies_dragDropContainer ul li.wrongAnswer{	// Item moved to wrong box
		background-color:red;
		color:#FFF;
	}
*/

	
	/* LEFT COLUMN CSS */
	div#dhtmlgoodies_listOfItems{	/* Left column "Available students" */
		
		float:left;
		padding-left:10px;
		padding-right:10px;
		
		/* CSS HACK */
		width: 180px;	/* IE 5.x */
		width/* */:/**/160px;	/* Other browsers */
		width: /**/160px;
				
	}
	#dhtmlgoodies_listOfItems ul{	/* Left(Sources) column <ul> */
		height:560px;	

	}
		
	div#dhtmlgoodies_listOfItems div{
		border:1px solid #999;		
	}
	div#dhtmlgoodies_listOfItems div ul{	/* Left column <ul> */
		margin-left:10px;	/* Space at the left of list - the arrow will be positioned there */
	}
	#dhtmlgoodies_listOfItems div p{	/* Heading above left column */
		margin:0px;	
		font-weight:bold;
		padding-left:12px;
		background-color:#317082;	
		color:#FFF;
		margin-bottom:5px;
	}
	/* END LEFT COLUMN CSS */
	
	#dhtmlgoodies_dragDropContainer .mouseover{	/* Mouse over effect DIV box in right column */
		background-color:#E2EBED;
		border:1px solid #317082;
	}
	
	/* Start main container CSS */
	
	div#dhtmlgoodies_mainContainer{	/* Right column DIV */
		width:590px;
		float:left;	
	}
	#dhtmlgoodies_mainContainer div{	/* Parent <div> of small boxes */
		float:left;
		margin-right:10px;
		margin-bottom:10px;
		margin-top:0px;
		border:1px solid #999;

		/* CSS HACK */
		width: 172px;	/* IE 5.x */
		width/* */:/**/170px;	/* Other browsers */
		width: /**/170px;
				
	}
	#dhtmlgoodies_mainContainer div ul{
		margin-left:10px;
	}
	
	#dhtmlgoodies_mainContainer div p{	/* Heading above small boxes */
		margin:0px;
		padding:0px;
		padding-left:12px;
		font-weight:bold;
		background-color:#317082;	
		color:#FFF;	
		margin-bottom:5px;
	}
	
	#dhtmlgoodies_mainContainer ul{	/* Small box in right column ,i.e <ul> */
		width:152px;
		height:80px;	
		border:0px;	
		margin-bottom:0px;
		overflow:hidden;
		
	}
	
	#dragContent{	/* Drag container */
		position:absolute;
		width:150px;
		height:15px;
		display:none;
		margin:0px;
		padding:0px;
		z-index:2000;
	}

	#dragDropIndicator{	/* DIV for the small arrow */
		position:absolute;
		width:7px;
		height:10px;
		display:none;
		z-index:1000;
		margin:0px;
		padding:0px;
	}
	</style>
	<style type="text/css" media="print">
	div#dhtmlgoodies_listOfItems{
		display:none;
	}
	body{
		background-color:#FFF;
	}
	img{
		display:none;
	}
	#dhtmlgoodies_dragDropContainer{
		border:0px;
		width:100%;
	}
	</style>

</head>
<body>
	<div id="dhtmlgoodies_dragDropContainer">

	<!--
		Items in the left side box

		The draggable items are <LI> created by the syntax after this comment

		You create one <LI> for each draggable node. Put it inside the <ul id="allItems"> tag. It's important that you set the groupId attribute. The value of this attribute must match the "id" of the box where it belongs. For example: Oslo has groupId = "box2". If you like a the code below, you will see that the <UL> right below Oslo have id="box2". I.e. Oslo belongs to the box Norway.
	-->

		<div id="dhtmlgoodies_listOfItems">
			<div>
				<p>Objects to move</p>		
			<ul id="allItems">
				<li id="node100" groupId="box2">100</li>
				<li id="node10" groupId="box2">10</li>
				<li id="node1" groupId="box2">1</li>
			</ul>
			</div>
		</div>	
		<!--
		The boxes in the right side columns are created by use of plain HTML.

		There is one <DIV> followed by a <UL> for each column box.
		-->
		<div id="dhtmlgoodies_mainContainer">
			<!-- ONE <UL> for each "room" -->
			<div>
				<p>Italy</p>
				<ul id="box1">
				</ul>
			</div>
			<div>		
				<p>Norway</p>
				<ul id="box2"></ul>
			</div>
			<div>
				<p>United Kingdom</p>
				<ul id="box3">
				</ul>
			</div>
			<div>
				<p>United States</p>
				<ul id="box4"></ul>
			</div>
			<div>	
				<p>China</p>
				<ul id="box5">
				</ul>
			</div>
			<div>	
				<p>Australia</p>
				<ul id="box6">
				</ul>
			</div>
			<div>	
				<p>France</p>
				<ul id="box7">
				</ul>
			</div>
			
			
		</div>

     </div>

     <ul id="dragContent"></ul> 
	<div id="dragDropIndicator"> </div> 
	<div id="saveContent"></div> 
</body>
</html>